<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>288293418041-h799fa473ccm9oanq79h68unqrishoqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288293418041-h799fa473ccm9oanq79h68unqrishoqs</string>
	<key>API_KEY</key>
	<string>AIzaSyDsR2Dhm6sbPPuGZB34kRcztB7ygyGUfLk</string>
	<key>GCM_SENDER_ID</key>
	<string>288293418041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.syntonic.firestreams</string>
	<key>PROJECT_ID</key>
	<string>firestream-4e998</string>
	<key>STORAGE_BUCKET</key>
	<string>firestream-4e998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:288293418041:ios:1c593ab4b02e9aad</string>
	<key>DATABASE_URL</key>
	<string>https://firestream-4e998.firebaseio.com</string>
</dict>
</plist>
